/* GLOBAL RULES */
html, body, div, span, applet, object, iframe,
blockquote, pre, a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
}
body {
	font-family: Arial, Helvetica, sans-serif;
}
h1{
    font-size:36px;
}
h2{
    font-size:26px;
}
h3{
    font-size:20px;
}
p{
    font-size:18px;
    line-height:28px;
    padding: 0 20px;
}
/* GLOBAL RULES END */

.jumbotron{
    width:100%; 
    max-width:1920px;
    padding: 100px 0;
    background:rgba(51,51,51,0.6);
    position:relative;
}
.jumbotron::before{
    content:'';
    position:absolute;
    top:0;
    left:0;
    width:100%; 
    max-width:1920px;
    height:450px;
    background: url('https://static.pexels.com/photos/248515/pexels-photo-248515.png') top no-repeat;
    z-index:-1;
    background-size: cover;
    background-position: center;
}
.welcome-words{
    max-width:880px;
    color:#fff;
    padding:0 26px;
    text-align:center;
    margin:0 auto;
}

.welcome-words a,
.welcome-words a:visited{
    display:inline-block;
    border: 1px solid #666;
    padding:18px 36px;
    background:#333;
    margin:9px auto;
    color:#fff;
    font-size:18px;
    text-decoration:none;
}
.welcome-words a:hover,
.welcome-words a:focus{
    background: #eaeaea;
    color: #333;
}
.content-container{
    padding:36px 0;
    text-align:center;
    color:#333;
}
.atc-type-1{
    background:#eaeaea;
}
.atc-type-2{
    background:#333;
}
.atc-type-1 p,
.atc-type-3 p{
    max-width:880px;
    margin:0 auto;
    text-align: center;
}
.atc-type-1 p{
    columns: 2;
    column-gap: 36px;
    text-align:justify;
}
.atc-type-2 ul,
.atc-type-4 ul{
    margin:0px;
    padding:0px;
    list-style-type: none;
}
.atc-type-2 li{
    display:inline-block;
    vertical-align: top;
    width:272px;
    margin:10px;
    background:#fff;
}
.atc-type-2 li img{
    width:100%;
}
.atc-type-4 li:first-child{
    background:#2690d4;
}
.atc-type-4 li:last-child{
    background:#333;
}
.atc-type-4 li{
    text-align:center;
    display:table-cell;
    color:#fff;
    width:50%;
    padding: 36px;
}
.atc-type-4 li a,
.atc-type-4 li a:visited{
    color:#fff;
    text-decoration:none;
}
.atc-type-4 li a:hover,
.atc-type-4 li a:focus{
    color: #fff700;
}

.copyrights{
    background:#000;
}
.copyrights ul{
    margin:0px;
    padding:0px;
    list-style-type: none;
}
.copyrights li{
    text-align: center;
    display: inline-block;
    color: #fff;
    width: 50%;
    padding: 36px 0;
    vertical-align: top;
    margin: 0 -2px;
}
.copyrights p{
    padding:0px;
    margin:0px;
}
.copyrights li a,
.copyrights li a:visited{
    color:#2690d4;
    text-decoration:none;
}
.copyrights li a:hover,
.copyrights li a:focus{
    color: #fff700;
}
